/* Aplicando reset no css padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    --border: #000000;
    --fundo: #FFFFFF;
    --botao: #0056FB;
}

.englob{
    width: 100%;
    height: 100vh;
}

.conteiner{
    display: flex;
    align-items: center;
    height: 100%;
}

.coluna{
  flex-grow: 1;
  width: 50%;
  height: 100%;

}

.titulo{
  align-self: flex-start;
}

.esq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--fundo);
  
}

input[type="email"], input[type="password"], input[type="text"]{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid var(--border);
    padding: 10px;
}

input[type="submit"]{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    margin: 10px 0;
    border: 0;
    background-color: var(--botao);
    color: var(--fundo);
    font-size: 18px;
}

.info{
    align-self: flex-start;
    font-weight: bold;
}

.info p{
    font-size: 15px;
}

.info a{
    text-decoration: none;
}

.dir{
   background-color:var(--botao);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.imagem img{
  max-width: 100%;
  padding: 10px;
}


.texto h2{
  font-size: 35px;
  margin: 20px 0 20px 20px;
  color: var(--fundo);
}

.texto p{
  font-size: 18px;
  margin: 20px 0 20px 20px;
  color: var(--fundo);
}

@media(max-width:960px){
  input[type="email"], input[type="password"], input[type="text"]{
    width: 400px;
}

input[type="submit"]{
    width: 400px;
}

.texto h2{
  font-size: 35px;
  margin: 20px 0 20px 20px;
  color: var(--fundo);
}

.texto p{
  font-size: 18px;
  margin: 20px 0 20px 20px;
  color: var(--fundo);
}
}

@media(max-width:850px){
  input[type="email"], input[type="password"], input[type="text"]{
    width: 350px;
}

input[type="submit"]{
    width: 350px;
}

.texto h2{
  font-size: 35px;
  margin: 20px 0 20px 20px;
  color: var(--fundo);
}

.texto p{
  font-size: 18px;
  margin: 20px 0 20px 20px;
  color: var(--fundo);
}
}

@media(max-width:740px){
  input[type="email"], input[type="password"], input[type="text"]{
    width: 300px;
}

input[type="submit"]{
    width: 300px;
}
}

@media(max-width:650px){
  input[type="email"], input[type="password"], input[type="text"]{
    width: 400px;
}

input[type="submit"]{
    width: 400px;
}

.conteiner{
    display: flex;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
}

.coluna{
    flex-grow: 1;
    width: 100%;
    height: 100vh;

}
.texto h2{
  margin: 10px 0 20px 20px;
}

.texto p{

  margin: 10px 0 20px 20px;

}

.imagem img{
  height: 200px;
}

}

@media(max-width:420px){
  input[type="email"], input[type="password"], input[type="text"]{
    width: 320px;
}

input[type="submit"]{
    width: 320px;
}
}

@media(max-width:370px){
  input[type="email"], input[type="password"], input[type="text"]{
    width: 300px;
}

input[type="submit"]{
    width: 300px;
}

.imagem img{
  height: 180px;
}

.texto h2{
  font-size: 30px;
  margin: 10px 0 10px 10px;
  color: var(--fundo);
}

.texto p{
  font-size: 13px;
  margin: 10px 0 10px 10px;
  color: var(--fundo);
}
}

/*CADASTRO*/

.formulario p{
  font-weight: bold;
  font-size: 13px;

}

.termos{
  display: flex;
  align-items: center;
}

.termos label{
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;

}

input[type="checkbox"]{
  margin-left: 2px;
  transform: scale(1.3);
  cursor: pointer; 
}



