@charset "UTF-8";

@media screen and (min-width: 1200px) {

    mains{
        background-image: linear-gradient(to bottom #535BCE,  #6FA3E1, #A8BEEA );
    }

    section#login > div#img{

        width: 40%;
        height: 100%;
        float: left;
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    section#login{
    
        width: 90%;
        height: 50%;
        float: right;
        border-radius: 11px;

    }

    section#login > p{
        text-align: center;
    }


    input{
        height: 30px;
        border-radius: 10px;
        width: calc(100% - 45%);
        border: 1px solid rgb(68, 74, 170);
        height: 3.5em;
        margin-top: 1%;

    }
    
    input#ent{
        width: 58%;
        height: 4em;
        margin-top: 10px;
    
    }
    
    input#limp{
        width: 58%;
        height: 4em;
        margin-top: 10px;
    
    }
    
}