@charset "UTF-8";

body{
    background-color: green;
    background: url(../imagens/cev-portrait.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover; 
}