*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: var(--button-primary);
    text-decoration: none;
}

body{
    --background:#FFFFFF;
    --border:rgb(236, 234, 234);
    --white: white;
    --button-primary:  #3c96ed;

    background: var(--background);
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#englob{
    height: 100vh;
}

#conteiner{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.coluna{
    flex-grow: 1;
    width: 50%;
}

.esquerda{
    background-image: url(insta/img/main-foto.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.login{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;

}

.logo img{
    width: 250px;
    height: 60px;
}

input[type="text"], input[type="password"]{
    margin: 5px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--white);
    font-size: 13px;
    width: 320px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
   color: rgb(165, 164, 164);
}

input[type="text"]::focus, input[type="password"]::focus{
    outline: 0;
    border: 1px solid #a1a1a1;
 }


input[type="submit"]{
    margin: 10px;
    height: 30px;
    width: 320px; 
    background-color: var(--button-primary);
    color: var(--white);
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}

.info{
    background-color: #FFF;
    height: 60px;
    border: 1px solid var(--border);
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p a{
    font-weight: bolder;
    user-select: none;
}

.painel_app{
    margin-top: 20px;
    text-align: center;

}

.app{
    margin-top: 20px;

}

.app img{
    height: 40px;
    padding: 0 2px;
}

footer{
    text-align: center;
    height: 50px;
    margin-bottom: 50px;
}

.footer_um a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
}

.txt_peq{
    font-size: 12px;
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block;
}