*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #3c96ed;
    text-decoration: none;
}

body{
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#englobar{
    height: 100vh;
}

#conteiner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    min-height: 100%;
}

.coluna{
    flex-grow: 1;
    width: 50%;
}

.esquerda{
    background-image: url(insta/img/main-foto.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;

}

.logo img{
    width: 250px;
    height: 60px;
}

.login{
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input[type="text"], input[type="password"]{
    margin: 10px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(236, 234, 234);
    background-color: #FFFFFF;
    font-size: 13px;
    width: 320px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: rgb(165, 164, 164);
    
}

input[type="text"]::focus, input[type="password"]::focus{
    outline: 0;
    border: 1px solid #a1a1a1;
    
}

input[type="submit"]{
    margin:10px;
    height: 30px;
    width: 320px; 
    background-color: #3c96ed;
    color: white;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid rgb(236, 234, 234);
    background-color: #FFFFFF;
    height: 50px;
}
.app_env{
    text-align: center;
    margin-top: 20px;
}

.app img{
    height: 40px;
    margin-top: 15px;
}

footer{
    text-align: center;
    height: 50px;
    margin-bottom: 50px;
}


.footer_um a{
   margin-right: 8px;
   font-weight: bold;
   color: black;
   font-size: 18px;
   text-transform: uppercase;
}

.txt_peq{
    display: inline-block;
    font-size: 16px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
}

/*RESPONSIVIDADE*/

@media (max-width:840px) {
    .esquerda{
        display: none;
    }

    #conteiner{
        width: 70%;
    }

    .diretia{
        padding-left: 0;
    }

    
}

@media (max-width:500px) {
    .esquerda{
        display: none;
    }

    #conteiner{
        width: 80%;
    }

    .diretia{
        padding-left: 0;
    }

    input[type="text"],  input[type="password"],  input[type="submit"]{
        width: 300px;
    }

    
}

@media (max-width:400px) {
    .esquerda{
        display: none;
    }

    #conteiner{
        width: 90%;
    }

    .diretia{
        padding-left: 0;
    }

    

    
}